*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body{
    height: 100%;
    width: 100%;
}

body {
    background-image: url("https://images.unsplash.com/photo-1612590307089-d9144a14e376?q=80&w=764&auto=format&fit=crop&ixlib=rb-4.1.0&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D");
    background-size: cover;
    background-position: center;
    font-family: 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: bold;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

h1{
    margin: 10px 0;
    color: #fff;
}

h2 {
    font-size: 50px;
    margin-bottom: 20px;
    color: #fff;
}

button {
    border: none;
    padding-top: 10px;
    padding-bottom: 10px;
    color: white;
    width: 200px;
    font-weight: 550;
    margin-bottom: 10px;
    border-radius: 5px;
    color: #fff;
    cursor: pointer;
    letter-spacing: 2px;
}

#increment-btn {
    background-color: darkred;
}

 #decrement-btn {
    background-color: orange;
 }

#save-btn {
    background-color: darkgreen;
}

#reset-btn{
    background-color: yellow;
    color: #111;
}